<mat-toolbar color="primary">
  <mat-toolbar-row>
    <span>Annotation Editor</span>
    <button
      mat-icon-button
      class="example-icon"
      aria-label="Example icon-button with menu icon"
      (click)="goHome()"
    >
      <mat-icon>home</mat-icon>
    </button>
  </mat-toolbar-row>

  <mat-toolbar-row *ngIf="showImageBar">
    <span class="spacer"></span>
    <span class="menu-item">Save Annotation </span>
    <mat-icon (click)="downloadAnnotation()" class="donwload"
      >save</mat-icon
    >
  </mat-toolbar-row>
</mat-toolbar>
